@inject IJSRuntime js
@inject TasksCapacitor tc
@using System.Windows.Input

<br />
@*can add a priority css with just border left example priority high on the next line *@
<div class="m-auto w-75 task text-center" 
draggable="true" @ondragenter="DragStartHandler" @ondragend="DragEndHandler"
data-toggle="modal" data-target="#frost-modal"

>
    <div class="flex-container">
        <div class="col mt-2">
            <div class="row m-auto" title="@Task.Name" @onclick="ToggleEdit" style="cursor:pointer;">
                <p class="m-auto frost-clip-text">
                    @Task.Name
                </p>
            </div>

            <div class="row mt-4" @onclick="ToggleEdit" style="cursor:pointer;">
                <div class="status-@Task.State w-75 m-auto frost-clip-text">
                    @Task.State
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-4 task-icons">
                    <FrostCheckBox/>
                    <img src="/favicon.png"/>
                    @Task.Points
                </div>

                <div class="col-4 task-link">
                    <a href="@Task.ParentBoard/@Task.Id">@Task.ParentBoard-@Task.Id</a>
                </div>
            </div>
        </div>
    </div>
</div>



@if(edit)
{
<div class="modal fade show" id="modal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <h4 class="col-10" style="text-align:left;" @onclick="Save">
                            @Task.Name
                        </h4>
                        <h4 class="col" style="text-align:right;">
                            <a href="@Task.ParentBoard/@Task.Id">@Task.ParentBoard-@Task.Id</a>
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            @if (!editDescription)
                            {
                                <p @onclick="EditDescription">
                                    @Task.Description
                                </p>
                            }

                            @if (editDescription)
                            {
                                <textarea class="w-100 h-100" @bind="_description" @bind:event="oninput" @onkeyup="CloseDescription">
                                    @_description
                                </textarea>
                            }
                        </div>
                    
                        <div class="col">
                            <div class="container">
                                <div class="col" style="float:right;">
                                    <select @bind="_state">
                                        @foreach(string state in tc.States)
                                        {
                                            @if(Task.State == state)
                                            {
                                                <option value="@state" selected="selected">@state</option>
                                            }
                                                @if(Task.State != state)
                                            {
                                                <option value="@state">@state</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span class="text-center m-auto">
                            <h4 class="text-center oi oi-warning d-inline">ROAD WORK AHEAD</h4>
                            <h4 class="text-center oi oi-warning d-inline"></h4>
                        </span>

                    <div class="row mt-4">
                        <textarea>Comment</textarea>
                            <div class="container">
                                <div class="container">
                                    <div class="row" style="float:right;">
                                        <p class="col-sm-1 m-auto">Edit</p>
                                        <p class="col-sm-1 m-auto">Save</p>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row mt-4">
                       @* rows should hold 150chars per line*@
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                        <textarea class="mt-4" rows="3" readonly style="resize:none;overflow:hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
                    </div>
                   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="Save">Save</button>
                    <button class="btn btn-danger" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>
}
<style>
    .task{
        border:2px solid #462f65;
    }

    .priority-high{
        border-left:10px solid red;
    }

    .status-ToDo{
        background-color:#0197db4f;
        border-radius: 25px;
    }

    .status-Started{
        background-color:#22ec55c2;
        border-radius: 25px;
    }

    .status-Completed{
        background-color:#fcb514;
        border-radius: 25px;
    }

    .task-link{
        float:right;
        position:relative;
        left:6.5rem;
    }
    .task-icons{
        float:left;
        position:relative;
        left:1.5rem;
    }
    .task-interact{
        margin-top:2.5rem;
    }
</style>
@code{
    [Parameter] public FrostTask Task { get; set; }
    protected override Task OnInitializedAsync()
    {
        tc.OnChange += StateHandler;
        _state = Task.State;
        _description = "fuck";
        return base.OnInitializedAsync();
    }
    private async void StateHandler()
    {
        await InvokeAsync(() => StateHasChanged());
    }
    private bool edit = false;
    private bool editDescription = false;
    private string _state = "";
    private string _description = "";

    private void ToggleEdit()
    {
        edit = !edit;
    }
    private void Save()
    {
        if (!string.IsNullOrEmpty(_state))
        {
            tc.AlterTask(Task, _state);
        }
        ToggleEdit();
        editDescription = false;
    }

    private void UpdateState()
    {
        if (!string.IsNullOrEmpty(_state))
        {
            tc.AlterTask(Task, _state);
        }
        StateHasChanged();
    }

    private void Close()
    {
        ToggleEdit();
        editDescription = false;
    }

    private void DragStartHandler(DragEventArgs e) 
    {
        Task.IsDragging = true;
    }

    private void DragEndHandler(DragEventArgs e)
    {
        Task.IsDragging = false;
    }

    private void EditDescription()
    {
        editDescription = true;
        _description = Task.Description;
    }

    private void CloseDescription(KeyboardEventArgs e)
    {
        if(e.Key == "Enter" && !e.ShiftKey)
        {
            Task.Description = _description;
            editDescription = false;
        }
        if(e.Key == "Escape")
        {
            editDescription = false;
        }
    }
}
