@inject TasksCapacitor tc

<div class="container mt-4">
    <div class="row mt-4">
        <h4 class="col-10" style="text-align:left;" @onclick="Save">
            @Task.Name
        </h4>
        <h4 class="col" style="text-align:right;">
            <a href="@Task.ParentBoard/@Task.Id">@Task.ParentBoard-@Task.Id</a>
        </h4>
    </div>

    <div class="row mt-4" style="border-bottom:2px solid #154b643d;">
        <div class="col-10">
                <FrostText Text="@Task.Description" TextChanged="UpdateDescription"/>
        </div>
                    
        <div class="col">
            <div class="container">
                <div class="col" style="float:right;">
                    <select @bind="_state">
                        @foreach(string state in tc.States)
                        {
                            @if(Task.State == state)
                            {
                                <option value="@state" selected="selected">@state</option>
                            }
                                @if(Task.State != state)
                            {
                                <option value="@state">@state</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="border-bottom:2px solid #154b643d;">
        <FrostText TextChanged="AddComment" EditOnly="true"/>
    </div>

    <div class="row" >
        @foreach(Comment comment in Task.Comments)
        {
            <FrostComment Comment="@comment" Task="Task"/>
        }
    </div>

</div>

@code{
    [Parameter] public int Id {get;set;}
    [Parameter] public FrostTask Task {get;set;}

    private string _state = "";

    protected override Task OnInitializedAsync()
    {
        if (Task == null && Id > 0)
        {
            Task = tc.Tasks.Where(t => t.Id == Id).First();
            
        }
        _state = Task.State;
        return base.OnInitializedAsync();
    }

    private void Save()
    {
        if (!string.IsNullOrEmpty(_state))
        {
            tc.AlterTask(Task, _state);
        }
    }


    private void UpdateState()
    {
        if (!string.IsNullOrEmpty(_state))
        {
            tc.AlterTask(Task, _state);
        }
        StateHasChanged();
    }

    internal void UpdateDescription(string updatedDescription)
    {
        Task.Description = updatedDescription.ToString();
    }

    internal void AddComment(string newComment)
    {
        Task.Comments.Insert(0, new() { Id = Task.Comments.Count, Message= newComment.ToString() });
        StateHasChanged();
    }

    private void SaveComment(string newComment)
    {
        tc.SaveTaskChanges(Task);
        StateHasChanged();
    }
}